@import './theme.scss';

.home-page{
    background-color: $black;
    .container{
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
    .d-flx{
        display: flex;
    }
    .algn-cntr{
        align-items: center;
    }
    .just-cntr{
        justify-content: center;
    }
    img{
        max-width: 100%;
    }
    .txt-cntr{
        text-align: center;
    }
    .btn-container {
        .btn {
            padding: 0.625rem 2.5rem;
            font-family: 'Lato';
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.5rem;
            text-transform: capitalize;
            color: $white;
            background-color: $black;
            border: 1px solid $primary;
            border-radius: 0.25rem;
        }
    }
    .banner-sec{
        padding: 7.688rem 0 11.375rem 0;
        .banner-sub-sec{
            width: 50%;
            h1{
                font-family: 'Audiowide';
                font-weight: 400;
                font-size: 3.125rem;
                line-height: 4rem;
                text-transform: uppercase;
                color: $white;
                margin: 0;
                padding-bottom: 1rem;
                span{
                    color:$primary;
                    font-family: inherit;
                }
            }
            p{
                font-family: 'Lato';
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.625rem;
                color: $white;
                margin: 0;
                padding-bottom: 2.5rem;
            }
            .btn-container{
                .primary-btn{
                    color: $black;
                    background-color: $primary;
                    border: none;
                }
            }
        }
    }
    .spec-tab-sec{
        background: url("../images/specs-tab-bg.png") no-repeat center;
        background-size: cover;
        padding: 9.375rem 0 18.75rem 0;
        .gap-32 {
            gap: 2rem;
        }
        .spec-tab-nav{
            width: 25%;
            background: linear-gradient(115.7deg, #333333 0.04%, rgba(51, 51, 51, 0) 101.34%);
            border: 0.820546px solid #333333;
            box-shadow: 0px 0px 13.1287px 4.10273px rgba(0, 0, 0, 0.3);
            border-radius: 0.25rem;
            min-height: 12.5rem;
            img{
                display: block;
                margin: 0 auto;
            }
            p{
                font-family: 'Audiowide';
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.563rem;
                text-align: center;
                margin: 0;
                padding-top: 1.25rem;
            }
        }
        .spec-tab-detail{
            border: 1px solid #212121;
            border-radius: 0.25rem;
            padding: 3.125rem 3.125rem 6.938rem 3.125rem;
            background-color: $black;
            margin-top: 2.313rem;
            .spec-tab-det-sub{
                color: $white;
                width: 50%;
                h2{
                    font-family: 'Audiowide';
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 1.563rem;
                    margin: 0;
                    padding-bottom: 1.25rem;
                }
                p{
                    font-family: 'Lato';
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.625rem;
                    margin-bottom: 0.625rem;
                }
                .btn{
                    margin-top: 3rem;
                }
            }
        }        
    }
    .specs-sec{
        background: url("../images/specs-sec-bg.png") no-repeat center;
        background-size: cover;
        padding: 6.625rem 0 18.75rem 0;
        marquee{
            font-family: 'Audiowide';
            font-weight: 400;
            font-size: 4rem;
            line-height: 4rem;
            text-transform: uppercase;
            padding-bottom: 6.25rem;
            color: $black;
            text-shadow: -1px 1px 0 $white,
                    1px 1px 0 $white,
                    1px -1px 0 $white,
                    -1px -1px 0 $white;
            span{
                color: $white;
            }
        }
        .gap-40 {
            gap: 2.5rem;
        }
        .specs-sub-box{
            width: calc(100%/3);             
            .linear-bg-box{
                background: linear-gradient(116.34deg, #212121 -2.17%, rgba(0, 0, 0) 100%);
                border: 1px solid #151515;
                border-radius: 20px;
                margin-bottom: 2rem;
                min-height: 17.875rem;
            }
            p{
                font-family: 'Lato';
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 1.813rem;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
            }
        }
    }
}